@{
    ViewData["Title"] = "GetDVDofNoLoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Total loans a member has taken</h1>

<table class="table">
    <thead class="bg-custom">
    <tr>
        <th>Membership First Name</th>
        <th>Membership Category Number</th>
        <th>Allowed Loans</th>
        <th>Total Loans</th>
        <th>Remarks</th>
    </tr>
    </thead>
    <tbody>
    <h3 style="background-color:yellow; color:black;">Too many DVDs on loan for:</h3>
    @foreach (var item in ViewBag.totalloans)
    {
        
        <tr>

            <td style="width:210px">@item.MemberFirstName</td>
            <td style="width:210px">@item.MembershipCategoryNumber</td>
            <td style="width:180px">@item.MembershipCategoryTotalLoans</td>
            <td style="width:180px">@item.TotalLoans</td>
            <td style="width:180px">
                @if (int.Parse(@item.MembershipCategoryTotalLoans) < @item.TotalLoans)
                {
                    @Html.DisplayText("Too many DVDs on loan");
                }
            </td>

        </tr>
    } 
    </tbody>
</table>