@model IEnumerable<DVDManagement.Models.MemberCopyModel>

@{
    ViewData["Title"] = "CopyNumberSearch";
}

<h1>Copy Number Search</h1>
<form asp-controller="DVD" asp-action="CopyNumberSearch" method="get">
    <p>
        Copy Number: <input type="text" name="searchString" class="form-control"/>
        <input type="submit" value="Filter" class="btn btn-primary" />
    </p>
</form>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model!.loan!.LoanNumber)
                    </th>
        <th>
            @Html.DisplayNameFor(model => model!.loan!.CopyNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model!.loan!.MemberNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model!.loan!.DateOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model!.loan!.DateDue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model!.loan!.DateReturned)
        </th>
        <th></th>

    </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">
                    No Match Found
                </td>
            </tr>
        }
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item!.loan!.LoanNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.loan!.CopyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.loan!.MemberNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.loan!.DateOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.loan!.DateDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.loan!.DateReturned)
            </td>
           
        </tr>
}
    </tbody>
</table>
