@model IEnumerable<DVDManagement.ViewModel.ActorViewModel>

@{
    ViewData["Title"] = "Search Actor";
}

<h1>View</h1>

<form asp-controller="DVD" asp-action="SearchActor" method="get">
<p>
    Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
</p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model!.dvd!.DVDTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model!.dvd!.DVDReleased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model!.dvd!.StandardCharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model!.dvd!.PenaltyCharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model!.actor!.ActorSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model!.dvd!.StudioModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model!.dvd!.ProducerModel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>@if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">
                    No Match Found
                </td>
            </tr>
        }
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item!.dvd!.DVDTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.dvd!.DVDReleased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.dvd!.StandardCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.dvd!.PenaltyCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.actor!.ActorSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.dvd!.StudioModel!.StudioNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.dvd!.ProducerModel!.ProducerNumber)
            </td>
            
        </tr>
}
    </tbody>
</table>
