@model IEnumerable<DVDManagement.ViewModel.MemberSearchViewModel>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model!.loan!.LoanTypeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loan!.CopyNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loan!.MemberNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loan!.DateOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model!.member!.MemberLastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.loan!.LoanTypeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.loan!.CopyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.loan!.MemberNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.loan!.DateOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.loan!.DateDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.member!.MemberLastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item!.loan!.LoanNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item!.loan!.LoanNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item!.loan!.LoanNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
