@{
    ViewData["Title"] = "AddDVDCopy";
    Layout = "_Layout";
}

<h1>AddDVDCopy</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Assistance" asp-action="AddDVDCopy" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-sm">
                @*   <div class="form-group">
                    <label for="ActorSurName" class="control-label"></label>
                    <select id="surname" name="surname" class="form-control custom-select bg-white border-left-0 border-md" required>
                    <option value="">Select a actor surname</option>
                    @foreach (var name in ViewBag.MemberNum)
                    {
                    <option value="@name.MembershipNumber"> @name.MembershipNumber @name.MembershipFirstName</option>
                    }
                    </select>
                    </div>*@
            </div>
            <div class="form-group">
                <label id="memberNum" class="control-label">Member Number</label>
                <input type="text" id="memberNum" value="@ViewBag.memberNumber " name="memberNum" placeholder="Age">
            </div>
            <div class="form-group">
                <label id="memberage" class="control-label">Member Age</label>
                <input type="text" id="memberage" value="@ViewBag.memAge" name="memberage" placeholder="Age">
            </div>

            @*  { MembershipNumber = 8, MembershipCategoryNumber = 5, MembershipCategoryTotalLoans = "20", TotalLoans = 8 }*@
            @{
                if (ViewBag.Details != null)
                {

                    foreach (var item in ViewBag.Details)
                    {
                        <div class="form-group">
                            <label id="MembershipCategoryNumber" class="control-label">Member Category Number</label>
                            <input type="text" id="MembershipCategoryNumber" value="@item.MembershipCategoryNumber" name="MembershipCategoryNumber" placeholder="Age">
                        </div>

                        <div class="form-group">
                            <label id="MembershipCategoryTotalLoans" class="control-label">Total Allowed Loans</label>
                            <input type="text" id="MembershipCategoryTotalLoans" value="@item.MembershipCategoryTotalLoans" name="MembershipCategoryTotalLoans" placeholder="Age">
                        </div>

                        <div class="form-group">
                            <label id="TotalLoans" class="control-label">Current Total  Loans</label>
                            <input type="text" id="TotalLoans" value="@item.TotalLoans" name="TotalLoans" placeholder="Age">
                        </div>
                    }


                }
                else
                {
                    <h2>Not Found</h2>
                }
            }
            <div class="form-group">
                <label for="ActorSurName" class="control-label">Loan Type Number</label>
                <select id="surname" name="surname" class="form-control custom-select bg-white border-left-0 border-md" required>
                    <option value="">Select a loan type</option>
                    @foreach (var name in ViewBag.LoanTypeNumber)
                    {
                        <option value="@name.LoanTypeNumber"> @name.LoanTypeNumber</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="ActorSurName" class="control-label">Loan Type</label>
                <select id="surname" name="surname" class="form-control custom-select bg-white border-left-0 border-md" required>
                    <option value="">Select a loan type</option>
                    @foreach (var name in ViewBag.LoanTypeNumber)
                    {
                        <option value="@name.Loan_Type"> @name.Loan_Type</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="ActorSurName" class="control-label">Copy Number</label>
                <select id="surname" name="surname" class="form-control custom-select bg-white border-left-0 border-md" required>
                    <option value="">Select a loan type</option>
                    @foreach (var name in ViewBag.Copy)
                    {
                        <option value="@name.CopyNumber"> @name.CopyNumber</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label id="DateOut" class="control-label">Date Out</label>
                <input type="date" id="DateOut" name="DateOut" placeholder="DateOut">
            </div>
            <div class="form-group">
                <label id="DateDue" class="control-label">Date Due</label>
                <input type="date" id="DateDue" name="DateDue" placeholder="DateDue">
            </div>
            @*  <div class="form-group">
                <label id="isrestricted" class="control-label">Age Restriction</label>
                <input type="text" id="isrestricted" value="@ViewBag.memAge" name="isrestricted" placeholder="Age Restriction">
                </div>*@
            @*<div class="col-sm">
                <div class="form-group row">
                <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Record</button>
                </div>
                </div>
                </div>*@
        </form>
    </div>
</div>

