@{
    ViewData["Title"] = "AddDVDCopy";
}

<h1>AddDVDCopy</h1>
@if (ViewBag.message != null)
{
 <p>Age for the DVD is Restricted And member is below the age restriction</p>
}
<form asp-controller="Assistance" asp-action="AddDVDCopy" method="post">
            <div class="form-group">
                 <label> Producer</label>
                 <select id="member" name="member" class="form-control" required>
                        <option value="">Select a Member</option>
                        @foreach (var name in ViewBag.member)
                        {
                            <option value="@name.MemberNumber">  @name.MemberFirstName @name.MemberLastName</option>
                        }
                    </select>
            </div>
            <div class="form-group">
                <label> Category</label>
                 <select id="loantype" name="loantype" class="form-control custom-select bg-white border-left-0 border-md" required>
                        <option value="">Select a Category</option>
                        @foreach (var name in ViewBag.loanType)
                        {
                            <option value="@name.LoanTypeNumber">@name.LoanType</option>
                        }
                    </select>
            </div>
            <div class="form-group">
                <label> DVD</label>
                 <select id="copynumber" name="copynumber" class="form-control custom-select bg-white border-left-0 border-md" required>
                        <option value="">Select a copyNumber</option>
                        @foreach (var name in ViewBag.dvd)
                        {
                            <option value="@name.dvdcopy.CopyNumber">@name.dvdtitle.DVDTitle</option>
                        }
                    </select>
            </div>
            <div class="form-group">
                <Button type="submit" class="btn btn-primary form-control" >Submit</Button>
            </div>
        </form>

