@{
    ViewData["Title"] = "CreateDVDTitle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    label {
        color: white;
    }
    .card {
        background-color: rgba(255,255,255,0.13);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255,255,255,0.1);
    }
</style>
<h1>Create New DVD Title</h1>
@if (ViewBag.IsSuccess)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>New DVD Title added successfully!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add New DVD
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="close d-flex align-items-center justify-content-center"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true" class="ion-ios-close"></span>
                </button>
              </div>
              <div class="modal-body p-4 py-5 p-md-5">
                <h3 class="text-center mb-3">Add New DVD</h3>
    
                <form asp-controller="Assistance" asp-action="AddDVDTitle" class="signup-form">
                  <div class="form-group mb-2">
                    <label for="name">DVD Title</label>
                    <input type="text" id="DVDTitleName" name="DVDTitleName" class="form-control" placeholder="DVDTitleName">
                  </div>
                  <div class="form-group mb-2">
                    <label for="ProducerNumber" class="control-label">Producer: </label>
                    <select id="ProducerNumber" name="ProducerNumber" class="form-control custom-select bg-white border-left-0 border-md" required>
                                            <option value="">Select a producer: </option>
                                            @foreach (var name in ViewBag.producer)
                                            {
                                                <option value="@name.ProducerNumber"> @name.ProducerNumber @name.ProducerName</option>
                                            }
                                        </select>
                  </div>
                    <div class="form-group mb-2">
                        <label for="ActorNumber" class="control-label">Actor: </label>
                                   
                        <select id="ActorNumber" name="ActorNumber" class="form-control custom-select bg-white border-left-0 border-md" required>
                            <option value="">Select a actor</option>
                            @foreach (var name in ViewBag.actor)
                            {
                                <option value="@name.ActorId"> @name.ActorId @name.ActorFirstName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group mb-2">
                        <label for="CategoryNumber" class="control-label">DVD Catgeory: </label>
                        
                        <select id="CategoryNumber" name="CategoryNumber" class="form-control custom-select bg-white border-left-0 border-md" required>
                            <option value="">Select a dvd category</option>
                            @foreach (var name in ViewBag.category)
                            {
                                <option value="@name.CategoryNumber"> @name.CategoryNumber @name.CategoryDescriptoin</option>
                            }
                        </select>
                    </div>
                    <div class="form-group mb-2">
                         <label for="StudioNumber" class="control-label">Studio: </label>
                                        
                        <select id="StudioNumber" name="StudioNumber" class="form-control custom-select bg-white border-left-0 border-md" required>
                            <option value="">Select a studio</option>
                            @foreach (var name in ViewBag.studio)
                            {
                                <option value="@name.StudioNumber"> @name.StudioNumber @name.StudioName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group mb-2">
                        <label id="DateReleased" class="control-label">Date Released: </label>
                        <input type="date" class="form-control" id="DateReleased" name="DateReleased" placeholder="">
                        
                    </div>
                    <div class="form-group mb-2">
                         <label id="StandardCharge" class="control-label">Standard Charge: </label>
                        <input type="text" class="form-control" id="StandardCharge" name="standardCharge" placeholder="StandardCharge"/>
                    </div>
                    <div class="form-group mb-2">
                        <label id="PenaltyCharge" class="control-label">Penalty Charge: </label>
                        <input type="text" id="PenaltyCharge" class="form-control" name="penaltyCharge" placeholder="PenaltyCharge">
                                            
                    </div>
                    
                    
                    <div class="form-group mb-2">
                    <button
                      type="submit"
                      class="form-control btn btn-primary rounded submit px-3"
                    >
                      Add DVD
                    </button>
                  </div>
                  
                </form>
              </div>
            </div>
          </div>
</div>
   
    


<table class="table mt-4">
    <thead class="bg-custom">
    <tr>
        <th>DVD Titler</th>
        <th>ProducerName </th>
        <th>Studio Name</th>
        <th>ActorFirstName</th>
        <th>Category</th>
        <th>PenaltyCharge</th>
        <th>StandardCharge</th>
    </tr>
    </thead>
    <tbody>
        
    @foreach (var item in ViewBag.dvd)
    {
        <tr>
            <td style="width:160px">@item.dvdTitle.DVDTitle</td>
            <td style="width:160px">@item.producer.ProducerName</td>
            <td style="width:160px">@item.studio.StudioName</td>
            <td style="width:160px">@item.actorDetails.ActorFirstName</td>
            <td style="width:160px">@item.dvdTitle.CategoryNumber</td>
            <td style="width:160px">@item.dvdTitle.StandardCharge</td>
            <td style="width:160px">@item.dvdTitle.PenaltyCharge</td>
        </tr>
    }

        
       
        
    </tbody>
</table>