@page
@model DVDManagement.Areas.Identity.Pages.Account.LoginModel

@{
    ViewData["Title"] = "Log in";
}
<section class="sign-in">
      <div class="container">
        <div class="signin-content">
          <div class="signin-image">
            <figure>
              <img src="../../image/signin-image.jpg" alt="sing up image" />
            </figure>
            <a class="signup-image-link"
            >Create an account</a>
          </div>

          <div class="signin-form">
            <h2 class="form-title">Sign up</h2>
            <form method="post" asp-route-returnUrl="@Model.ReturnUrl" class="register-form" id="account">
            <div asp-validation-summary="All" class="text-danger"></div>
              <div class="form-group">
                  <label for="your_name" asp-for="Input.Email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                <input id="your_name" placeholder="Your Name" asp-for="Input.Email"/>
              </div>
              <div class="form-group">
                <input
                  type="password"
                  
                  id="your_pass"
                  placeholder="Password"
                  asp-for="Input.Password"
                />
              </div>
              <div class="form-group">
                <input
                  type="checkbox"
                  
                  id="remember-me"
                  class="agree-term"
                  asp-for="Input.RememberMe"
                />
              </div>
              <div class="form-group form-button">
                <input
                  type="submit"
                  name="signin"
                  id="signin"
                  class="form-submit"
                  value="Log in"
                />
              </div>
            </form>
            <div class="social-login">
              <span class="social-label">Or login with</span>
              <ul class="socials">
                <li>
                  <a href="#"
                    ><i class="display-flex-center zmdi zmdi-facebook"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="display-flex-center zmdi zmdi-twitter"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="display-flex-center zmdi zmdi-google"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

@*
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to log in.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>
*@


